.coin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid grey;
  padding-right: 2rem;
}

.coin-image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.coin-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.coin-description {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.market-data {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  margin-top: 10px;
}

.chart-section {
  width: 100%;
  max-width:800px;
  flex-direction:column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chart-container {
    width: 100%;
    max-width: 800px;
    height: auto; /* Allow height to adjust */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
  }
mat-form-field {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .coin-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    text-align: center;
  }

  .chart-container {
    max-width:300px;
  }
}

.timeframe-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 20px;
  }
  
  .timeframe-box {
    padding: 10px 20px;
    border: 2px solid gold;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .timeframe-box:hover {
    background-color: rgba(238, 188, 29, 0.2);
  }
  
  .timeframe-box.active {
    background-color: gold;
    color: black;
  }
  